# Introduction

> **Will it rain tomorrow?**

That is the question we will try to answer in this project, practicing machine learning.

## Context

A vacation of a group of friends is about to start and they will arrive at the Melbourne Airport tomorrow in the afternoon. They rented a place near the airport and they want to go on foot to the rented place to save money in the beginning of their trip. But, if it is raining, they will have to go there using a mean of transportation, since they do not want to get wet. Right now, it is late at night and they want to know if it is going to rain tomorrow around the Melbourne Airport to know if they need to schedule a shuttle bus to take them to the rented place.

---

### Project Objective

> **Find if it will tomorrow around the Melbourne Airport.**

---

## Process

This project will be divided into 3 parts:

1. **Initial Analysis of the Variables**
2. Baseline
3. Development of the Machine Learning Model

# Part 01 | Initial Analysis of the Variables

The objective of the first part of this project is to do an **initial data cleaning and manipulation** to get the dataset ready for the next part (Baseline).

---

## Specific Objective

> - **Reduce the quantity of null values.**
> - **Convert categorical variables to numerical.**

---

## Premises

- Today is 25/06/2017.
- Right now is nighttime. Therefore, not all features are available right now.
- The features available are:
  - Maximum temperature
  - Evaporation
  - Sunshine
  - Wind Speed
  - Rain Today
  - Rain Tomorrow
  - All the other variables that were measured at 9 AM and 3 PM
- The wind direction will not be considered.

## Setup

### Import Libraries and Adjust Some Settings

In [1]:
# Import libraries
import pandas as pd
import numpy as np

from sklearn.preprocessing import OrdinalEncoder

In [2]:
#Change the number maximum of columns that are displayed
pd.set_option('display.max_columns', 50)

### Import Datasets

In [3]:
# Import the datasets
data = pd.read_csv('data/rain_data_aus.csv')
wind1 = pd.read_csv('data/wind_table_01.csv')
wind2 = pd.read_csv('data/wind_table_02.csv')
wind3 = pd.read_csv('data/wind_table_03.csv')
wind4 = pd.read_csv('data/wind_table_04.csv')
wind5 = pd.read_csv('data/wind_table_05.csv')
wind6 = pd.read_csv('data/wind_table_06.csv')
wind7 = pd.read_csv('data/wind_table_07.csv')
wind8 = pd.read_csv('data/wind_table_08.csv')

The dataset `data` has most the data, while the variable related to the wind is separated into 8 different datasets. However, the last two (`wind7` and `wind8`) seems to contain the same data.

In [4]:
# Check if the datasets 'wind7' and 'wind8' are the same
(wind7.shape[0] - wind7.isna().sum()) == np.sum(wind7 == wind8)

date             True
location         True
windgustdir      True
windgustspeed    True
winddir9am       True
winddir3pm       True
windspeed9am     True
windspeed3pm     True
dtype: bool

> Therefore, **they are the same dataset**. So, the `wind8` will not be considered.

In [5]:
#Concatenate all dataframes related to 'wind'
wind = pd.concat(objs=[wind1, wind2, wind3, wind4, wind5, wind6, wind7]).reset_index(drop=True)

#Check the results
wind

,date,location,wind_gustdir,wind_gustspeed,wind_dir9am,wind_dir3pm,wind_speed9am,wind_speed3pm,windgustdir,windgustspeed,winddir9am,winddir3pm,windspeed9am,windspeed3pm
0,2007-11-01,Canberra,NW,30.0,SW,NW,6.0,20.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2007-11-02,Canberra,ENE,39.0,E,W,4.0,17.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2007-11-03,Canberra,NW,85.0,N,NNE,6.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2007-11-04,Canberra,NW,54.0,WNW,W,30.0,24.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2007-11-05,Canberra,SSE,50.0,SSE,ESE,20.0,28.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142188,2017-06-25,Perth,NaN,NaN,NaN,NaN,NaN,NaN,E,26.0,SE,SE,4.0,11.0
142189,2017-06-25,SalmonGums,NaN,NaN,NaN,NaN,NaN,NaN,SE,15.0,SSE,E,7.0,6.0
142190,2017-06-25,Walpole,NaN,NaN,NaN,NaN,NaN,NaN,SSW,20.0,WNW,SSW,6.0,6.0
142191,2017-06-25,Hobart,NaN,NaN,NaN,NaN,NaN,NaN,NW,50.0,NNW,NNW,17.0,28.0
142192,2017-06-25,Launceston,NaN,NaN,NaN,NaN,NaN,NaN,NW,50.0,NNW,NNW,15.0,17.0

In [6]:
# Merge dataframes 'data' and 'wind'
df = pd.merge(left=data, right=wind, on=['date', 'location'])

#Check the result
df

,date,location,mintemp,maxtemp,rainfall,evaporation,sunshine,humidity9am,humidity3pm,pressure9am,pressure3pm,cloud9am,cloud3pm,temp9am,temp3pm,raintoday,amountOfRain,raintomorrow,temp,humidity,precipitation3pm,precipitation9am,modelo_vigente,wind_gustdir,wind_gustspeed,wind_dir9am,wind_dir3pm,wind_speed9am,wind_speed3pm,windgustdir,windgustspeed,winddir9am,winddir3pm,windspeed9am,windspeed3pm
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,0.0,No,29.48,28.400000,12,5.115360,0.089825,W,44.0,W,WNW,20.0,24.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,0.0,No,32.12,2.208569,10,21.497100,0.023477,WNW,44.0,NNW,WSW,4.0,22.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,0.0,No,32.84,38.000000,17,20.782859,0.027580,WSW,46.0,W,WSW,19.0,26.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,1.0,No,35.60,21.200000,8,12.028646,0.023962,NE,24.0,SE,E,11.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,0.2,No,40.76,41.600000,9,11.883546,0.220164,W,41.0,ENE,NW,7.0,20.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142188,2017-06-20,Uluru,3.5,21.8,0.0,NaN,NaN,59.0,27.0,1024.7,1021.2,NaN,NaN,9.4,20.9,No,0.0,No,28.16,34.400000,12,5.848681,0.002556,NaN,NaN,NaN,NaN,NaN,NaN,E,31.0,ESE,E,15.0,13.0
142189,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,51.0,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,0.0,No,30.08,30.800000,10,6.653879,0.002053,NaN,NaN,NaN,NaN,NaN,NaN,E,31.0,SE,ENE,13.0,11.0
142190,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,0.0,No,32.36,27.200000,9,19.715976,0.023350,NaN,NaN,NaN,NaN,NaN,NaN,NNW,22.0,SE,N,13.0,9.0
142191,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,0.0,No,34.28,30.800000,12,0.985551,0.007195,NaN,NaN,NaN,NaN,NaN,NaN,N,37.0,SE,WNW,9.0,9.0
142192,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,0.0,No,34.40,30.800000,15,4.381481,0.018811,NaN,NaN,NaN,NaN,NaN,NaN,SE,28.0,SSE,N,13.0,7.0

In [7]:
# Check the dataset's metadata
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 142193 entries, 0 to 142192
Data columns (total 35 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   date              142193 non-null  object
 1   location          142193 non-null  object
 2   mintemp           141556 non-null  float64
 3   maxtemp           141871 non-null  float64
 4   rainfall          140787 non-null  float64
 5   evaporation       81350 non-null   float64
 6   sunshine          74377 non-null   float64
 7   humidity9am       140419 non-null  float64
 8   humidity3pm       138583 non-null  float64
 9   pressure9am       128179 non-null  float64
 10  pressure3pm       128212 non-null  float64
 11  cloud9am          88536 non-null   float64
 12  cloud3pm          85099 non-null   float64
 13  temp9am           141289 non-null  float64
 14  temp3pm           139467 non-null  float64
 15  raintoday         140787 non-null  object
 16  amountOfRain      142193 non-null  float64
 17  raintomorrow      142193 non-null  object
 18  temp              141871 non-null  float64
 19  humidity          138583 non-null  float64
 20  precipitation3pm  142193 non-null  int64
 21  precipitation9am  142193 non-null  float64
 22  modelo_vigente    142193 non-null  float64
 23  wind_gustdir      36419 non-null   object
 24  wind_gustspeed    36426 non-null   float64
 25  wind_dir9am       36932 non-null   object
 26  wind_dir3pm       38990 non-null   object
 27  wind_speed9am     39300 non-null   float64
 28  wind_speed3pm     39328 non-null   float64
 29  windgustdir       96444 non-null   object
 30  windgustspeed     96497 non-null   float64
 31  winddir9am        95248 non-null   object
 32  winddir3pm        99425 non-null   object
 33  windspeed9am      101545 non-null  float64
 34  windspeed3pm      100235 non-null  float64
dtypes: float64(24), int64(1), object(10)
memory usage: 39.1+ MB

Some features related to `wind` seems to have the same information and they might be repeated or complementary.

## Analyze Columns Related to `wind`

In [8]:
# Check the variables related to the wind
df_wind = df[['wind_gustspeed', 'windgustspeed', 'wind_gustdir', 'windgustdir', 'wind_dir9am', 'winddir9am', 
              'wind_dir3pm', 'winddir3pm', 'windspeed9am', 'wind_speed9am', 'windspeed3pm', 'wind_speed3pm']]
df_wind

,wind_gustspeed,windgustspeed,wind_gustdir,windgustdir,wind_dir9am,winddir9am,wind_dir3pm,winddir3pm,windspeed9am,wind_speed9am,windspeed3pm,wind_speed3pm
0,44.0,NaN,W,NaN,W,NaN,WNW,NaN,NaN,20.0,NaN,24.0
1,44.0,NaN,WNW,NaN,NNW,NaN,WSW,NaN,NaN,4.0,NaN,22.0
2,46.0,NaN,WSW,NaN,W,NaN,WSW,NaN,NaN,19.0,NaN,26.0
3,24.0,NaN,NE,NaN,SE,NaN,E,NaN,NaN,11.0,NaN,9.0
4,41.0,NaN,W,NaN,ENE,NaN,NW,NaN,NaN,7.0,NaN,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...
142188,NaN,31.0,NaN,E,NaN,ESE,NaN,E,15.0,NaN,13.0,NaN
142189,NaN,31.0,NaN,E,NaN,SE,NaN,ENE,13.0,NaN,11.0,NaN
142190,NaN,22.0,NaN,NNW,NaN,SE,NaN,N,13.0,NaN,9.0,NaN
142191,NaN,37.0,NaN,N,NaN,SE,NaN,WNW,9.0,NaN,9.0,NaN
142192,NaN,28.0,NaN,SE,NaN,SSE,NaN,N,13.0,NaN,7.0,NaN

In [9]:
# Check if there are missing values for each pair
df_wind[((df_wind.wind_gustspeed.isna()) & (df_wind.windgustspeed.isna())) |((df_wind.wind_gustdir.isna()) & (df_wind.windgustdir.isna())) | ((df_wind.wind_dir9am.isna()) & (df_wind.winddir9am.isna()) | ((df_wind.wind_dir3pm.isna()) & (df_wind.winddir3pm.isna())) | ((df_wind.wind_speed9am.isna()) & (df_wind.windspeed9am.isna()) | ((df_wind.wind_speed3pm.isna()) & (df_wind.windspeed3pm.isna()))))]

,wind_gustspeed,windgustspeed,wind_gustdir,windgustdir,wind_dir9am,winddir9am,wind_dir3pm,winddir3pm,windspeed9am,wind_speed9am,windspeed3pm,wind_speed3pm
14,50.0,NaN,WNW,NaN,NaN,NaN,WNW,NaN,NaN,NaN,NaN,22.0
25,57.0,NaN,WSW,NaN,NaN,NaN,W,NaN,NaN,0.0,NaN,26.0
63,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,13.0,NaN,9.0
64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,NaN,11.0
74,39.0,NaN,NE,NaN,S,NaN,NaN,NaN,NaN,7.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
141904,NaN,48.0,NaN,WSW,NaN,NaN,NaN,W,0.0,NaN,28.0,NaN
142051,NaN,NaN,NaN,NaN,NaN,ESE,NaN,E,13.0,NaN,24.0,NaN
142058,NaN,56.0,NaN,ENE,NaN,NaN,NaN,N,0.0,NaN,11.0,NaN
142156,NaN,26.0,NaN,ENE,NaN,NaN,NaN,N,0.0,NaN,7.0,NaN
142163,NaN,39.0,NaN,WNW,NaN,NaN,NaN,NW,0.0,NaN,20.0,NaN

It seems that when there is a value in the column with the underscore, there is no value for its pair and vice-versa. So they must be complementary.

### `windgustdir` and `wind_gustdir`

In [10]:
# Number of nulls in each column
print('Quantity of nulls on wind_gustdir column:',df['wind_gustdir'].isna().sum())
print('Quantity of nulls on windgustdir column : ',df['windgustdir'].isna().sum())

Quantity of nulls on wind_gustdir column: 105774
Quantity of nulls on windgustdir column :  45749

In [11]:
#Create a new column and add wind_gustdir values into it
df["wind_gustdir_complete"] = df["wind_gustdir"]

In [12]:
#Check if the new column were add
df.columns

Index(['date', 'location', 'mintemp', 'maxtemp', 'rainfall', 'evaporation',
       'sunshine', 'humidity9am', 'humidity3pm', 'pressure9am', 'pressure3pm',
       'cloud9am', 'cloud3pm', 'temp9am', 'temp3pm', 'raintoday',
       'amountOfRain', 'raintomorrow', 'temp', 'humidity', 'precipitation3pm',
       'precipitation9am', 'modelo_vigente', 'wind_gustdir', 'wind_gustspeed',
       'wind_dir9am', 'wind_dir3pm', 'wind_speed9am', 'wind_speed3pm',
       'windgustdir', 'windgustspeed', 'winddir9am', 'winddir3pm',
       'windspeed9am', 'windspeed3pm', 'wind_gustdir_complete'],
      dtype='object')

In [13]:
# Replace null values:
# How? Add windgustdir values into column wind_gustdir_complete (which aready have wind_gustdir values)
indices = df.loc[df['wind_gustdir'].isna(),'wind_gustdir'].index
values = df.iloc[indices,df.columns.get_loc("windgustdir")] #iloc on the lines:indices and columns:windgustdir
df.loc[df['wind_gustdir'].isna(),'wind_gustdir_complete'] = values #column wind_gustdir_complete

In [14]:
#After concatenate, it still having 9330 missing values
df['wind_gustdir_complete'].isna().sum()

9330

In [15]:
# Check if the quantity of missing values of the new column it's correct
df[((df.wind_gustdir.isna()) & (df.windgustdir.isna()))].shape

(9330, 36)

> So, the column **wind_gustdir_complete** it will be used for windgustdir analysis. <br>
The others (wind_gustdir and windgustdir) could be ignored.

### `windgustspeed`   and `wind_gustspeed`

In [16]:
print('Quantity of nulls on wind_gustspeed column:',df['wind_gustspeed'].isna().sum())
print('Quantity of nulls on windgustspeed column : ',df['windgustspeed'].isna().sum())

Quantity of nulls on wind_gustspeed column: 105767
Quantity of nulls on windgustspeed column :  45696

In [17]:
#Creating a new column and add wind_gustspeed values into it
df["wind_gustspeed_complete"] = df["wind_gustspeed"]

In [18]:
#Check if the new column were add
df.columns

Index(['date', 'location', 'mintemp', 'maxtemp', 'rainfall', 'evaporation',
       'sunshine', 'humidity9am', 'humidity3pm', 'pressure9am', 'pressure3pm',
       'cloud9am', 'cloud3pm', 'temp9am', 'temp3pm', 'raintoday',
       'amountOfRain', 'raintomorrow', 'temp', 'humidity', 'precipitation3pm',
       'precipitation9am', 'modelo_vigente', 'wind_gustdir', 'wind_gustspeed',
       'wind_dir9am', 'wind_dir3pm', 'wind_speed9am', 'wind_speed3pm',
       'windgustdir', 'windgustspeed', 'winddir9am', 'winddir3pm',
       'windspeed9am', 'windspeed3pm', 'wind_gustdir_complete',
       'wind_gustspeed_complete'],
      dtype='object')

In [19]:
#Replacing null values:
# How? Add windgustspeed values into column wind_gustspeed_complete (which aready have wind_gustspeed values)
indices = df.loc[df['wind_gustspeed'].isna(),'wind_gustspeed'].index
values = df.iloc[indices,df.columns.get_loc("windgustspeed")] #iloc on the lines:indices and columns:windgustspeed
df.loc[df['wind_gustspeed'].isna(),'wind_gustspeed_complete'] = values #column wind_gustspeed_complete

In [20]:
#After concatenate, it still having 9330 missing values
df['wind_gustspeed_complete'].isna().sum()

9270

In [21]:
# Check if the quantity of missing values of the new column it's correct
df[((df.wind_gustspeed.isna()) & (df.windgustspeed.isna()))].shape

(9270, 37)

> So, the column **wind_gustspeed_complete** it will be used for windgustspeed analysis. <br>
The others (wind_gustspeed and windgustspeed) could be ignored.

### `winddir9am` and `wind_dir9am`

In [22]:
print('Quantity of nulls on wind_dir9am column:',df['wind_dir9am'].isna().sum())
print('Quantity of nulls on winddir9am column : ',df['winddir9am'].isna().sum())

Quantity of nulls on wind_dir9am column: 105261
Quantity of nulls on winddir9am column :  46945

In [23]:
#Creating a new column and add wind_gustspeed values into it
df["wind_dir9am_complete"] = df["wind_dir9am"]

In [24]:
#Check if the new column were add
df.columns

Index(['date', 'location', 'mintemp', 'maxtemp', 'rainfall', 'evaporation',
       'sunshine', 'humidity9am', 'humidity3pm', 'pressure9am', 'pressure3pm',
       'cloud9am', 'cloud3pm', 'temp9am', 'temp3pm', 'raintoday',
       'amountOfRain', 'raintomorrow', 'temp', 'humidity', 'precipitation3pm',
       'precipitation9am', 'modelo_vigente', 'wind_gustdir', 'wind_gustspeed',
       'wind_dir9am', 'wind_dir3pm', 'wind_speed9am', 'wind_speed3pm',
       'windgustdir', 'windgustspeed', 'winddir9am', 'winddir3pm',
       'windspeed9am', 'windspeed3pm', 'wind_gustdir_complete',
       'wind_gustspeed_complete', 'wind_dir9am_complete'],
      dtype='object')

In [25]:
#Replacing null values:
# How? Add windgustspeed values into column wind_gustspeed_complete (which aready have wind_gustspeed values)
indices = df.loc[df['wind_dir9am'].isna(),'wind_dir9am'].index
values = df.iloc[indices,df.columns.get_loc("winddir9am")] #iloc on the lines:indices and columns:windgustspeed
df.loc[df['wind_dir9am'].isna(),'wind_dir9am_complete'] = values #column wind_gustspeed_complete

In [26]:
#After concatenate, it still having 9330 missing values
df['wind_dir9am_complete'].isna().sum()

10013

In [27]:
# Check if the quantity of missing values of the new column it's correct
df[((df.wind_dir9am.isna()) & (df.winddir9am.isna()))].shape

(10013, 38)

> So, the column **wind_dir9am_complete** it will be used for winddir9am analysis. <br>
The others (wind_dir9am and winddir9am) could be ignored.

### `winddir3pm` and `wind_dir3pm`

In [28]:
print('Quantity of nulls on wind_dir3pm column:',df['wind_dir3pm'].isna().sum())
print('Quantity of nulls on winddir3pm column : ',df['winddir3pm'].isna().sum())

Quantity of nulls on wind_dir3pm column: 103203
Quantity of nulls on winddir3pm column :  42768

In [29]:
#Creating a new column and add wind_gustspeed values into it
df["wind_dir3pm_complete"] = df["wind_dir3pm"]

In [30]:
#Check if the new column were add
df.columns

Index(['date', 'location', 'mintemp', 'maxtemp', 'rainfall', 'evaporation',
       'sunshine', 'humidity9am', 'humidity3pm', 'pressure9am', 'pressure3pm',
       'cloud9am', 'cloud3pm', 'temp9am', 'temp3pm', 'raintoday',
       'amountOfRain', 'raintomorrow', 'temp', 'humidity', 'precipitation3pm',
       'precipitation9am', 'modelo_vigente', 'wind_gustdir', 'wind_gustspeed',
       'wind_dir9am', 'wind_dir3pm', 'wind_speed9am', 'wind_speed3pm',
       'windgustdir', 'windgustspeed', 'winddir9am', 'winddir3pm',
       'windspeed9am', 'windspeed3pm', 'wind_gustdir_complete',
       'wind_gustspeed_complete', 'wind_dir9am_complete',
       'wind_dir3pm_complete'],
      dtype='object')

In [31]:
#Replacing null values:
# How? Add windgustspeed values into column wind_gustspeed_complete (which aready have wind_gustspeed values)
indices = df.loc[df['wind_dir3pm'].isna(),'wind_dir3pm'].index
values = df.iloc[indices,df.columns.get_loc("winddir3pm")] #iloc on the lines:indices and columns:windgustspeed
df.loc[df['wind_dir3pm'].isna(),'wind_dir3pm_complete'] = values #column wind_gustspeed_complete

In [32]:
#After concatenate, it still having 9330 missing values
df['wind_dir3pm_complete'].isna().sum()

3778

In [33]:
# Check if the quantity of missing values of the new column it's correct
df[((df.wind_dir3pm.isna()) & (df.winddir3pm.isna()))].shape

(3778, 39)

> So, the column **wind_dir3pm_complete** it will be used for winddir3pm analysis. <br>
The others (wind_dir3pm and winddir3pm) could be ignored.

### `windspeed9am` and `wind_speed9am`

In [34]:
print('Quantity of nulls on wind_speed9am column:',df['wind_speed9am'].isna().sum())
print('Quantity of nulls on windspeed9am column : ',df['windspeed9am'].isna().sum())

Quantity of nulls on wind_speed9am column: 102893
Quantity of nulls on windspeed9am column :  40648

In [35]:
#Creating a new column and add wind_gustspeed values into it
df["wind_speed9am_complete"] = df["wind_speed9am"]

In [36]:
#Check if the new column were add
df.columns

Index(['date', 'location', 'mintemp', 'maxtemp', 'rainfall', 'evaporation',
       'sunshine', 'humidity9am', 'humidity3pm', 'pressure9am', 'pressure3pm',
       'cloud9am', 'cloud3pm', 'temp9am', 'temp3pm', 'raintoday',
       'amountOfRain', 'raintomorrow', 'temp', 'humidity', 'precipitation3pm',
       'precipitation9am', 'modelo_vigente', 'wind_gustdir', 'wind_gustspeed',
       'wind_dir9am', 'wind_dir3pm', 'wind_speed9am', 'wind_speed3pm',
       'windgustdir', 'windgustspeed', 'winddir9am', 'winddir3pm',
       'windspeed9am', 'windspeed3pm', 'wind_gustdir_complete',
       'wind_gustspeed_complete', 'wind_dir9am_complete',
       'wind_dir3pm_complete', 'wind_speed9am_complete'],
      dtype='object')

In [37]:
#Replacing null values:
# How? Add windgustspeed values into column wind_gustspeed_complete (which aready have wind_gustspeed values)
indices = df.loc[df['wind_speed9am'].isna(),'wind_speed9am'].index
values = df.iloc[indices,df.columns.get_loc("windspeed9am")] #iloc on the lines:indices and columns:windgustspeed
df.loc[df['wind_speed9am'].isna(),'wind_speed9am_complete'] = values #column wind_gustspeed_complete

In [38]:
#After concatenate, it still having 9330 missing values
df['wind_speed9am_complete'].isna().sum()

1348

In [39]:
# Check if the quantity of missing values of the new column it's correct
df[((df.wind_speed9am.isna()) & (df.windspeed9am.isna()))].shape

(1348, 40)

> So, the column **wind_speed9am_complete** it will be used for windspeed9am analysis. <br>
The others (wind_speed9am and windspeed9am) could be ignored.

### `windspeed3pm` and `wind_speed3pm`

In [40]:
print('Quantity of nulls on wind_speed3pm column:',df['wind_speed3pm'].isna().sum())
print('Quantity of nulls on windspeed3pm column : ',df['windspeed3pm'].isna().sum())

Quantity of nulls on wind_speed3pm column: 102865
Quantity of nulls on windspeed3pm column :  41958

In [41]:
#Creating a new column and add wind_gustspeed values into it
df["wind_speed3pm_complete"] = df["wind_speed3pm"]

In [42]:
#Check if the new column were add
df.columns

Index(['date', 'location', 'mintemp', 'maxtemp', 'rainfall', 'evaporation',
       'sunshine', 'humidity9am', 'humidity3pm', 'pressure9am', 'pressure3pm',
       'cloud9am', 'cloud3pm', 'temp9am', 'temp3pm', 'raintoday',
       'amountOfRain', 'raintomorrow', 'temp', 'humidity', 'precipitation3pm',
       'precipitation9am', 'modelo_vigente', 'wind_gustdir', 'wind_gustspeed',
       'wind_dir9am', 'wind_dir3pm', 'wind_speed9am', 'wind_speed3pm',
       'windgustdir', 'windgustspeed', 'winddir9am', 'winddir3pm',
       'windspeed9am', 'windspeed3pm', 'wind_gustdir_complete',
       'wind_gustspeed_complete', 'wind_dir9am_complete',
       'wind_dir3pm_complete', 'wind_speed9am_complete',
       'wind_speed3pm_complete'],
      dtype='object')

In [43]:
#Replacing null values:
# How? Add windgustspeed values into column wind_gustspeed_complete (which aready have wind_gustspeed values)
indices = df.loc[df['wind_speed3pm'].isna(),'wind_speed3pm'].index
values = df.iloc[indices,df.columns.get_loc("windspeed3pm")] #iloc on the lines:indices and columns:windgustspeed
df.loc[df['wind_speed3pm'].isna(),'wind_speed3pm_complete'] = values #column wind_gustspeed_complete

In [44]:
#After concatenate, it still having 9330 missing values
df['wind_speed3pm_complete'].isna().sum()

2630

In [45]:
# Check if the quantity of missing values of the new column it's correct
df[((df.wind_speed3pm.isna()) & (df.windspeed3pm.isna()))].shape

(2630, 41)

> So, the column **wind_speed3pm_complete** it will be used for windspeed3pm analysis. <br>
The others (wind_speed3pm and windspeed3pm) could be ignored.

## Analyse the relation of columns created

In [46]:
# Number of missing values

print('MISSING VALUES')
print(f"wind_gustspeed_complete: {df['wind_gustspeed_complete'].isna().sum()}")
print(f"wind_gustdir_complete: {df['wind_gustdir_complete'].isna().sum()}")
print(f"wind_dir9am_complete: {df['wind_dir9am_complete'].isna().sum()}")
print(f"wind_dir3pm_complete: {df['wind_dir3pm_complete'].isna().sum()}")
print(f"wind_speed9am_complete: {df['wind_speed9am_complete'].isna().sum()}")
print(f"wind_speed3pm_complete: {df['wind_speed3pm_complete'].isna().sum()}")

MISSING VALUES
wind_gustspeed_complete: 9270
wind_gustdir_complete: 9330
wind_dir9am_complete: 10013
wind_dir3pm_complete: 3778
wind_speed9am_complete: 1348
wind_speed3pm_complete: 2630

In [47]:
# Check number of rows that have missing values in both pairs of speed and direction
print('GENERAL')
print(f"{(df['wind_gustspeed_complete'].isna() == df['wind_gustdir_complete'].isna()).value_counts()}")
print('\n9 AM')
print(f"{(df['wind_speed9am_complete'].isna() == df['wind_dir9am_complete'].isna()).value_counts()}")
print('\n3 PM')
print(f"{(df['wind_speed3pm_complete'].isna() == df['wind_dir3pm_complete'].isna()).value_counts()}")

GENERAL
True     142133
False        60
dtype: int64

9 AM
True     133528
False      8665
dtype: int64

3 PM
True     141045
False      1148
dtype: int64

> **Most days have missing values in both features for each pair**, meaning that the equipment might had had a problem detecting the wind.

## `date`

### Convert `string` to `datetime`

In [66]:
# Convert string to datatime
df['date'] = pd.to_datetime(arg=df.date)

# Check the result
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 142193 entries, 0 to 142192
Data columns (total 41 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   date                     142193 non-null  datetime64[ns]
 1   location                 142193 non-null  object
 2   mintemp                  141556 non-null  float64
 3   maxtemp                  141871 non-null  float64
 4   rainfall                 140787 non-null  float64
 5   evaporation              81350 non-null   float64
 6   sunshine                 74377 non-null   float64
 7   humidity9am              140419 non-null  float64
 8   humidity3pm              138583 non-null  float64
 9   pressure9am              128179 non-null  float64
 10  pressure3pm              128212 non-null  float64
 11  cloud9am                 88536 non-null   float64
 12  cloud3pm                 85099 non-null   float64
 13  temp9am                  141289 non-null  float64
 14  temp3pm                  139467 non-null  float64
 15  raintoday                140787 non-null  object
 16  amountOfRain             142193 non-null  float64
 17  raintomorrow             142193 non-null  object
 18  temp                     141871 non-null  float64
 19  humidity                 138583 non-null  float64
 20  precipitation3pm         142193 non-null  int64
 21  precipitation9am         142193 non-null  float64
 22  modelo_vigente           142193 non-null  float64
 23  wind_gustdir             36419 non-null   object
 24  wind_gustspeed           36426 non-null   float64
 25  wind_dir9am              36932 non-null   object
 26  wind_dir3pm              38990 non-null   object
 27  wind_speed9am            39300 non-null   float64
 28  wind_speed3pm            39328 non-null   float64
 29  windgustdir              96444 non-null   object
 30  windgustspeed            96497 non-null   float64
 31  winddir9am               95248 non-null   object
 32  winddir3pm               99425 non-null   object
 33  windspeed9am             101545 non-null  float64
 34  windspeed3pm             100235 non-null  float64
 35  wind_gustdir_complete    132863 non-null  object
 36  wind_gustspeed_complete  132923 non-null  float64
 37  wind_dir9am_complete     132180 non-null  object
 38  wind_dir3pm_complete     138415 non-null  object
 39  wind_speed9am_complete   140845 non-null  float64
 40  wind_speed3pm_complete   139563 non-null  float64
dtypes: datetime64[ns](1), float64(27), int64(1), object(12)
memory usage: 45.6+ MB

### Check if the Period is Complete

In [102]:
# Number of days from the first to last day
print(f"First Date: {df_ma['date'][0].strftime('%m/%d/%y')}")
print(f"Last Date: {df_ma['date'][df_ma.shape[0] - 1].strftime('%m/%d/%y')}")
print(f"Number of days: {(df_ma['date'][df_ma.shape[0] - 1] - df_ma['date'][0]).days} days")
print(f"Number of days in the dataset")

First Date: 01/01/09
Last Date: 06/25/17
Number of days: 3097 days

'01/01/09'

In [78]:
df_ma['date'][df_ma.shape[0] - 1] - df_ma['date'][0]

Timedelta('3097 days 00:00:00')

In [93]:
(df_ma['date'][df_ma.shape[0] - 1] - df_ma['date'][0]).days

3097

In [96]:
(df_ma.shape[0] / (df_ma['date'][df_ma.shape[0] - 1] - df_ma['date'][0]).days) * 100

97.15854052308686

## Filter the Dataset

### Columns

In [49]:
# Columns Names
df.columns

Index(['date', 'location', 'mintemp', 'maxtemp', 'rainfall', 'evaporation',
       'sunshine', 'humidity9am', 'humidity3pm', 'pressure9am', 'pressure3pm',
       'cloud9am', 'cloud3pm', 'temp9am', 'temp3pm', 'raintoday',
       'amountOfRain', 'raintomorrow', 'temp', 'humidity', 'precipitation3pm',
       'precipitation9am', 'modelo_vigente', 'wind_gustdir', 'wind_gustspeed',
       'wind_dir9am', 'wind_dir3pm', 'wind_speed9am', 'wind_speed3pm',
       'windgustdir', 'windgustspeed', 'winddir9am', 'winddir3pm',
       'windspeed9am', 'windspeed3pm', 'wind_gustdir_complete',
       'wind_gustspeed_complete', 'wind_dir9am_complete',
       'wind_dir3pm_complete', 'wind_speed9am_complete',
       'wind_speed3pm_complete'],
      dtype='object')

In [53]:
# Desired columns
columns = ['date', 'location', 'maxtemp', 'evaporation', 'sunshine', 'humidity9am', 'humidity3pm', 'pressure9am', 
           'pressure3pm', 'cloud9am', 'cloud3pm', 'temp9am', 'temp3pm', 'precipitation3pm', 'precipitation9am', 
           'wind_gustdir_complete', 'wind_gustspeed_complete', 'wind_dir9am_complete', 'wind_dir3pm_complete', 
           'wind_speed9am_complete', 'wind_speed3pm_complete']

# Filter the dataset
df_f = df[columns]

# Check the result
df_f.head()

,date,location,maxtemp,evaporation,sunshine,humidity9am,humidity3pm,pressure9am,pressure3pm,cloud9am,cloud3pm,temp9am,temp3pm,precipitation3pm,precipitation9am,wind_gustdir_complete,wind_gustspeed_complete,wind_dir9am_complete,wind_dir3pm_complete,wind_speed9am_complete,wind_speed3pm_complete
0,2008-12-01,Albury,22.9,NaN,NaN,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,12,5.115360,W,44.0,W,WNW,20.0,24.0
1,2008-12-02,Albury,25.1,NaN,NaN,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,10,21.497100,WNW,44.0,NNW,WSW,4.0,22.0
2,2008-12-03,Albury,25.7,NaN,NaN,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,17,20.782859,WSW,46.0,W,WSW,19.0,26.0
3,2008-12-04,Albury,28.0,NaN,NaN,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,8,12.028646,NE,24.0,SE,E,11.0,9.0
4,2008-12-05,Albury,32.3,NaN,NaN,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,9,11.883546,W,41.0,ENE,NW,7.0,20.0

### Melbourne Airpot

In [70]:
# Filter the dataset
df_ma = df_f.query('location == "MelbourneAirport"').reset_index(drop=True)

# Check the result
df_ma

,date,location,maxtemp,evaporation,sunshine,humidity9am,humidity3pm,pressure9am,pressure3pm,cloud9am,cloud3pm,temp9am,temp3pm,precipitation3pm,precipitation9am,wind_gustdir_complete,wind_gustspeed_complete,wind_dir9am_complete,wind_dir3pm_complete,wind_speed9am_complete,wind_speed3pm_complete
0,2009-01-01,MelbourneAirport,19.9,5.6,8.8,55.0,37.0,1005.1,1006.4,7.0,7.0,15.9,18.1,9,6.116945,SW,69.0,W,SW,33.0,43.0
1,2009-01-02,MelbourneAirport,17.8,7.2,12.9,50.0,43.0,1018.0,1019.3,6.0,7.0,12.5,15.8,12,9.775912,SSE,56.0,SW,SSE,31.0,26.0
2,2009-01-03,MelbourneAirport,21.1,6.2,10.5,51.0,35.0,1020.8,1017.6,1.0,7.0,13.4,19.6,12,5.986239,SSE,31.0,E,S,13.0,19.0
3,2009-01-04,MelbourneAirport,29.2,6.4,12.5,67.0,23.0,1016.2,1012.8,5.0,4.0,16.0,28.2,11,9.501362,SSE,35.0,NE,SSE,2.0,20.0
4,2009-01-05,MelbourneAirport,29.0,7.4,12.3,51.0,31.0,1011.9,1010.3,6.0,2.0,19.4,27.1,15,6.677340,SE,33.0,SW,SSE,9.0,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3004,2017-06-21,MelbourneAirport,13.2,0.6,0.0,97.0,78.0,1029.1,1028.6,7.0,7.0,10.1,11.8,12,17.328204,N,37.0,W,S,9.0,13.0
3005,2017-06-22,MelbourneAirport,13.0,0.6,0.0,78.0,60.0,1028.6,1025.0,7.0,7.0,7.4,12.9,11,15.581160,N,39.0,N,N,17.0,19.0
3006,2017-06-23,MelbourneAirport,13.2,1.6,6.0,68.0,66.0,1018.7,1014.0,1.0,7.0,9.6,11.2,11,-0.692281,N,57.0,NNW,N,19.0,35.0
3007,2017-06-24,MelbourneAirport,12.6,1.8,5.6,80.0,50.0,1018.9,1017.5,2.0,7.0,8.0,11.2,12,5.295213,SW,33.0,W,W,17.0,7.0
3008,2017-06-25,MelbourneAirport,13.9,2.8,3.8,72.0,58.0,1017.8,1015.5,7.0,7.0,8.1,12.2,11,11.477725,NNW,44.0,N,NW,26.0,13.0

#### Check if the Period is Complete

In [108]:
# Number of days from the first to last day
print(f"First Date: {df_ma['date'][0].strftime('%m/%d/%y')}")
print(f"Last Date: {df_ma['date'][df_ma.shape[0] - 1].strftime('%m/%d/%y')}")
print(f"Number of days: {(df_ma['date'][df_ma.shape[0] - 1] - df_ma['date'][0]).days} days")
print(f"Number of days in the dataset: {len(df_ma.date.unique())} days")
print(f"Number of missing days: {(df_ma['date'][df_ma.shape[0] - 1] - df_ma['date'][0]).days - len(df_ma.date.unique())} days")
print(f"Percentage of the days that we have informaiton: {(len(df_ma.date.unique()) / (df_ma['date'][df_ma.shape[0] - 1] - df_ma['date'][0]).days) * 100:.2f}%")

First Date: 01/01/09
Last Date: 06/25/17
Number of days: 3097 days
Number of days in the dataset: 3009 days
Number of missing days: 88 days
Percentage of the days that we have informaiton: 97.16%

### Melbourne

This dataset will be useful when inputting missing values in the dataframe `df_ma`.

In [55]:
# Filter the dataset
df_melbourne = df_f.query('location == "Melbourne"').reset_index(drop=True)

# Check the result
df_melbourne

,date,location,maxtemp,evaporation,sunshine,humidity9am,humidity3pm,pressure9am,pressure3pm,cloud9am,cloud3pm,temp9am,temp3pm,precipitation3pm,precipitation9am,wind_gustdir_complete,wind_gustspeed_complete,wind_dir9am_complete,wind_dir3pm_complete,wind_speed9am_complete,wind_speed3pm_complete
65745,2008-07-01,Melbourne,15.4,2.8,7.0,60.0,38.0,1006.8,1010.3,1.0,7.0,11.0,14.6,15,14.086571,W,63.0,W,W,37.0,35.0
65746,2008-07-02,Melbourne,14.5,5.2,4.0,66.0,52.0,1013.4,1016.2,7.0,4.0,11.8,13.7,18,5.524671,W,63.0,W,WSW,30.0,35.0
65747,2008-07-03,Melbourne,14.1,2.0,0.8,72.0,58.0,1024.8,1024.3,7.0,7.0,10.6,13.9,10,12.489827,W,39.0,W,W,17.0,24.0
65748,2008-07-04,Melbourne,14.5,1.8,4.2,87.0,49.0,1030.2,1029.0,7.0,6.0,10.2,13.1,14,8.586301,E,19.0,NNW,N,9.0,7.0
65749,2008-07-05,Melbourne,15.5,0.8,8.4,81.0,52.0,1028.9,1024.9,2.0,5.0,5.5,14.6,5,12.525412,N,52.0,N,NNE,24.0,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68175,2017-06-21,Melbourne,13.5,0.6,0.0,100.0,80.0,1028.8,1028.4,7.0,7.0,11.2,12.7,11,11.796357,NNW,24.0,W,S,2.0,9.0
68176,2017-06-22,Melbourne,14.1,0.6,0.0,93.0,56.0,1028.2,1024.8,7.0,7.0,7.5,13.5,18,17.534768,N,24.0,NNE,N,9.0,11.0
68177,2017-06-23,Melbourne,14.9,1.6,6.0,77.0,63.0,1018.8,1013.8,1.0,7.0,9.1,12.5,12,8.856789,NNW,44.0,N,N,17.0,19.0
68178,2017-06-24,Melbourne,12.3,1.8,5.6,75.0,63.0,1018.7,1017.4,2.0,7.0,9.6,11.2,7,0.724738,SW,30.0,WNW,S,11.0,2.0
68179,2017-06-25,Melbourne,14.3,2.8,3.8,67.0,56.0,1017.4,1015.0,7.0,7.0,9.3,13.4,10,14.256116,NW,35.0,N,NNW,13.0,17.0

## Missing Values

### Check Missing Values

In [56]:
# Dataset's Metadata - Melbourne Airport
df_ma.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3009 entries, 62736 to 65744
Data columns (total 21 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   date                     3009 non-null   datetime64[ns]
 1   location                 3009 non-null   object
 2   maxtemp                  3009 non-null   float64
 3   evaporation              3006 non-null   float64
 4   sunshine                 3008 non-null   float64
 5   humidity9am              3001 non-null   float64
 6   humidity3pm              3000 non-null   float64
 7   pressure9am              3009 non-null   float64
 8   pressure3pm              3009 non-null   float64
 9   cloud9am                 3009 non-null   float64
 10  cloud3pm                 3008 non-null   float64
 11  temp9am                  3009 non-null   float64
 12  temp3pm                  3009 non-null   float64
 13  precipitation3pm         3009 non-null   int64
 14  precipitation9am         3009 non-null   float64
 15  wind_gustdir_complete    2994 non-null   object
 16  wind_gustspeed_complete  2994 non-null   float64
 17  wind_dir9am_complete     2969 non-null   object
 18  wind_dir3pm_complete     2996 non-null   object
 19  wind_speed9am_complete   3008 non-null   float64
 20  wind_speed3pm_complete   3009 non-null   float64
dtypes: datetime64[ns](1), float64(15), int64(1), object(4)
memory usage: 517.2+ KB

In [58]:
# Number of Missing Values
df_ma.isna().sum().sort_values(ascending=False)

wind_dir9am_complete       40
wind_gustspeed_complete    15
wind_gustdir_complete      15
wind_dir3pm_complete       13
humidity3pm                 9
humidity9am                 8
evaporation                 3
cloud3pm                    1
sunshine                    1
wind_speed9am_complete      1
pressure9am                 0
location                    0
maxtemp                     0
wind_speed3pm_complete      0
pressure3pm                 0
cloud9am                    0
temp9am                     0
temp3pm                     0
precipitation3pm            0
precipitation9am            0
date                        0
dtype: int64

In [61]:
# Percentage of Missing Values
(df_ma.isna().sum().sum() / df_ma.shape[0]) * 100

3.5227650382186773

### Input Missing Values

To input the missing values, we will use the data from **Melbourne**, since they are located in the same city, but just different parts of it. 

If the v**alue is not found** in the dataset, we will **drop** them because:

- A climate feature can change abruptly from one day to the next one
- The percentage of missing values is very small (~3.5%)

In [64]:
# Number of Missing Values
df_ma.isna().sum().sort_values(ascending=False)

wind_speed9am              2177
wind_speed3pm              2176
windspeed3pm                833
windspeed9am                833
wind_gustspeed_complete      15
wind_gustdir_complete        15
humidity3pm                   9
humidity9am                   8
evaporation                   3
sunshine                      1
cloud3pm                      1
cloud9am                      0
pressure3pm                   0
pressure9am                   0
temp9am                       0
temp3pm                       0
precipitation3pm              0
precipitation9am              0
maxtemp                       0
location                      0
date                          0
dtype: int64

## Encode Categorical Variables

In [ ]:
# Instance the encoder
encoder = OrdinalEncoder(categories=[['No', 'Yes'],
                                     ['N', 'NNE', 'NE', 'ENE', 'E', 'ESE', 'SE', 'SSE', 'S', 'SSW', 'SW', 'WSW', 'W', 'WNW', 'NW', 'NNW']])

In [62]:
len(['N', 'NNE', 'NE', 'ENE', 'E', 'ESE', 'SE', 'SSE', 'S', 'SSW', 'SW', 'WSW', 'W', 'WNW', 'NW', 'NNW'])

16

### `raintoday`

In [24]:
# Check the unique values
df.raintoday.unique()

array(['No', 'Yes', nan], dtype=object)

In [25]:
# Encode this variable
df['raintoday_int'] = df['raintoday'].apply(lambda x : 1 if x == 'Yes' else 0)

# Check the result
df

,date,location,mintemp,maxtemp,rainfall,evaporation,sunshine,humidity9am,humidity3pm,pressure9am,pressure3pm,cloud9am,cloud3pm,temp9am,temp3pm,raintoday,amountOfRain,raintomorrow,temp,humidity,precipitation3pm,precipitation9am,modelo_vigente,wind_gustdir,wind_gustspeed,wind_dir9am,wind_dir3pm,wind_speed9am,wind_speed3pm,windgustdir,windgustspeed,winddir9am,winddir3pm,windspeed9am,windspeed3pm,wind_gustdir_complete,wind_gustspeed_complete,raintoday_int
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,0.0,No,29.48,28.400000,12,5.115360,0.089825,W,44.0,W,WNW,20.0,24.0,NaN,NaN,NaN,NaN,NaN,NaN,W,44.0,0
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,0.0,No,32.12,2.208569,10,21.497100,0.023477,WNW,44.0,NNW,WSW,4.0,22.0,NaN,NaN,NaN,NaN,NaN,NaN,WNW,44.0,0
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,0.0,No,32.84,38.000000,17,20.782859,0.027580,WSW,46.0,W,WSW,19.0,26.0,NaN,NaN,NaN,NaN,NaN,NaN,WSW,46.0,0
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,1.0,No,35.60,21.200000,8,12.028646,0.023962,NE,24.0,SE,E,11.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NE,24.0,0
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,0.2,No,40.76,41.600000,9,11.883546,0.220164,W,41.0,ENE,NW,7.0,20.0,NaN,NaN,NaN,NaN,NaN,NaN,W,41.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142188,2017-06-20,Uluru,3.5,21.8,0.0,NaN,NaN,59.0,27.0,1024.7,1021.2,NaN,NaN,9.4,20.9,No,0.0,No,28.16,34.400000,12,5.848681,0.002556,NaN,NaN,NaN,NaN,NaN,NaN,E,31.0,ESE,E,15.0,13.0,E,31.0,0
142189,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,51.0,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,0.0,No,30.08,30.800000,10,6.653879,0.002053,NaN,NaN,NaN,NaN,NaN,NaN,E,31.0,SE,ENE,13.0,11.0,E,31.0,0
142190,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,0.0,No,32.36,27.200000,9,19.715976,0.023350,NaN,NaN,NaN,NaN,NaN,NaN,NNW,22.0,SE,N,13.0,9.0,NNW,22.0,0
142191,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,0.0,No,34.28,30.800000,12,0.985551,0.007195,NaN,NaN,NaN,NaN,NaN,NaN,N,37.0,SE,WNW,9.0,9.0,N,37.0,0
142192,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,0.0,No,34.40,30.800000,15,4.381481,0.018811,NaN,NaN,NaN,NaN,NaN,NaN,SE,28.0,SSE,N,13.0,7.0,SE,28.0,0

### `raintomorrow`

In [26]:
# Check the unique values
df.raintomorrow.unique()

array(['No', 'Yes'], dtype=object)

In [27]:
# Encode this variable
df['raintomorrow_int'] = df.raintomorrow.apply(lambda x : 1 if x == 'Yes' else 0)

# Check the result
df

,date,location,mintemp,maxtemp,rainfall,evaporation,sunshine,humidity9am,humidity3pm,pressure9am,pressure3pm,cloud9am,cloud3pm,temp9am,temp3pm,raintoday,amountOfRain,raintomorrow,temp,humidity,precipitation3pm,precipitation9am,modelo_vigente,wind_gustdir,wind_gustspeed,wind_dir9am,wind_dir3pm,wind_speed9am,wind_speed3pm,windgustdir,windgustspeed,winddir9am,winddir3pm,windspeed9am,windspeed3pm,wind_gustdir_complete,wind_gustspeed_complete,raintoday_int,raintomorrow_int
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,0.0,No,29.48,28.400000,12,5.115360,0.089825,W,44.0,W,WNW,20.0,24.0,NaN,NaN,NaN,NaN,NaN,NaN,W,44.0,0,0
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,0.0,No,32.12,2.208569,10,21.497100,0.023477,WNW,44.0,NNW,WSW,4.0,22.0,NaN,NaN,NaN,NaN,NaN,NaN,WNW,44.0,0,0
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,0.0,No,32.84,38.000000,17,20.782859,0.027580,WSW,46.0,W,WSW,19.0,26.0,NaN,NaN,NaN,NaN,NaN,NaN,WSW,46.0,0,0
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,1.0,No,35.60,21.200000,8,12.028646,0.023962,NE,24.0,SE,E,11.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NE,24.0,0,0
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,0.2,No,40.76,41.600000,9,11.883546,0.220164,W,41.0,ENE,NW,7.0,20.0,NaN,NaN,NaN,NaN,NaN,NaN,W,41.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142188,2017-06-20,Uluru,3.5,21.8,0.0,NaN,NaN,59.0,27.0,1024.7,1021.2,NaN,NaN,9.4,20.9,No,0.0,No,28.16,34.400000,12,5.848681,0.002556,NaN,NaN,NaN,NaN,NaN,NaN,E,31.0,ESE,E,15.0,13.0,E,31.0,0,0
142189,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,51.0,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,0.0,No,30.08,30.800000,10,6.653879,0.002053,NaN,NaN,NaN,NaN,NaN,NaN,E,31.0,SE,ENE,13.0,11.0,E,31.0,0,0
142190,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,0.0,No,32.36,27.200000,9,19.715976,0.023350,NaN,NaN,NaN,NaN,NaN,NaN,NNW,22.0,SE,N,13.0,9.0,NNW,22.0,0,0
142191,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,0.0,No,34.28,30.800000,12,0.985551,0.007195,NaN,NaN,NaN,NaN,NaN,NaN,N,37.0,SE,WNW,9.0,9.0,N,37.0,0,0
142192,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,0.0,No,34.40,30.800000,15,4.381481,0.018811,NaN,NaN,NaN,NaN,NaN,NaN,SE,28.0,SSE,N,13.0,7.0,SE,28.0,0,0

## Export dataset

In [29]:
df.to_csv('exported_df/complete_dataset.csv', index=False)

In [39]:
df.sort_values(by='date')

,date,location,mintemp,maxtemp,rainfall,evaporation,sunshine,humidity9am,humidity3pm,pressure9am,pressure3pm,cloud9am,cloud3pm,temp9am,temp3pm,raintoday,amountOfRain,raintomorrow,temp,humidity,precipitation3pm,precipitation9am,modelo_vigente,wind_gustdir,wind_gustspeed,wind_dir9am,wind_dir3pm,wind_speed9am,wind_speed3pm,windgustdir,windgustspeed,winddir9am,winddir3pm,windspeed9am,windspeed3pm,wind_gustdir_complete,wind_gustspeed_complete,raintoday_int,raintomorrow_int
44351,2007-11-01,Canberra,8.0,24.3,0.0,3.4,6.3,68.0,29.0,1019.7,1015.0,7.0,7.0,14.4,23.6,No,3.6,Yes,31.160000,36.8,11,9.613089,0.538687,NW,30.0,SW,NW,6.0,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NW,30.0,0,1
44352,2007-11-02,Canberra,14.0,26.9,3.6,4.4,9.7,80.0,36.0,1012.4,1008.4,5.0,3.0,17.5,25.7,Yes,3.6,Yes,34.280000,45.2,9,17.115142,0.445920,ENE,39.0,E,W,4.0,17.0,NaN,NaN,NaN,NaN,NaN,NaN,ENE,39.0,1,1
44353,2007-11-03,Canberra,13.7,23.4,3.6,5.8,3.3,82.0,69.0,1009.5,1007.2,8.0,7.0,15.4,20.2,Yes,39.8,Yes,30.080000,84.8,11,17.391294,0.861744,NW,85.0,N,NNE,6.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NW,85.0,1,1
44354,2007-11-04,Canberra,13.3,15.5,39.8,7.2,9.1,62.0,56.0,1005.5,1007.0,2.0,7.0,13.5,14.1,Yes,2.8,Yes,20.600000,69.2,11,4.679143,0.759048,NW,54.0,WNW,W,30.0,24.0,NaN,NaN,NaN,NaN,NaN,NaN,NW,54.0,1,1
44355,2007-11-05,Canberra,7.6,16.1,2.8,5.6,10.6,68.0,49.0,1018.3,1018.5,7.0,7.0,11.1,15.4,Yes,0.0,No,21.320000,60.8,17,8.346257,0.030159,SSE,50.0,SSE,ESE,20.0,28.0,NaN,NaN,NaN,NaN,NaN,NaN,SSE,50.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38814,2017-06-25,WaggaWagga,-0.1,12.7,0.0,NaN,NaN,92.0,54.0,1020.8,1018.5,8.0,8.0,4.0,10.7,No,0.0,No,17.240000,66.8,9,3.313260,0.228928,NaN,NaN,NaN,NaN,NaN,NaN,SSW,19.0,SSW,SSE,2.0,13.0,SSW,19.0,0,0
32833,2017-06-25,Sydney,7.6,19.3,0.0,3.4,9.4,73.0,32.0,1018.6,1015.4,1.0,1.0,9.4,18.8,No,0.0,No,25.160000,40.4,15,15.827330,0.049893,NaN,NaN,NaN,NaN,NaN,NaN,W,35.0,W,W,13.0,13.0,W,35.0,0,0
29496,2017-06-25,Richmond,2.7,20.0,0.2,NaN,NaN,88.0,35.0,1018.8,1015.2,NaN,NaN,9.6,19.4,No,0.0,No,26.000000,44.0,13,5.257638,0.054258,NaN,NaN,NaN,NaN,NaN,NaN,W,37.0,NaN,WNW,0.0,19.0,W,37.0,0,0
26545,2017-06-25,Penrith,3.1,20.0,0.0,NaN,NaN,95.0,45.0,NaN,NaN,NaN,NaN,7.8,17.8,No,0.0,No,26.000000,56.0,10,15.136587,0.070515,NaN,NaN,NaN,NaN,NaN,NaN,SW,28.0,SE,S,2.0,11.0,SW,28.0,0,0
35838,2017-06-25,SydneyAirport,6.8,19.5,0.0,3.4,9.4,67.0,42.0,1018.4,1015.2,1.0,1.0,11.9,17.9,No,0.0,No,2.742626,52.4,7,12.327163,0.026886,NaN,NaN,NaN,NaN,NaN,NaN,WSW,46.0,NW,WSW,19.0,28.0,WSW,46.0,0,0

<class 'pandas.core.frame.DataFrame'>
Int64Index: 142193 entries, 0 to 142192
Data columns (total 39 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   date                     142193 non-null  datetime64[ns]
 1   location                 142193 non-null  object
 2   mintemp                  141556 non-null  float64
 3   maxtemp                  141871 non-null  float64
 4   rainfall                 140787 non-null  float64
 5   evaporation              81350 non-null   float64
 6   sunshine                 74377 non-null   float64
 7   humidity9am              140419 non-null  float64
 8   humidity3pm              138583 non-null  float64
 9   pressure9am              128179 non-null  float64
 10  pressure3pm              128212 non-null  float64
 11  cloud9am                 88536 non-null   float64
 12  cloud3pm                 85099 non-null   float64
 13  temp9am                  141289 non-null  float64
 14  temp3pm                  139467 non-null  float64
 15  raintoday                140787 non-null  object
 16  amountOfRain             142193 non-null  float64
 17  raintomorrow             142193 non-null  object
 18  temp                     141871 non-null  float64
 19  humidity                 138583 non-null  float64
 20  precipitation3pm         142193 non-null  int64
 21  precipitation9am         142193 non-null  float64
 22  modelo_vigente           142193 non-null  float64
 23  wind_gustdir             36419 non-null   object
 24  wind_gustspeed           36426 non-null   float64
 25  wind_dir9am              36932 non-null   object
 26  wind_dir3pm              38990 non-null   object
 27  wind_speed9am            39300 non-null   float64
 28  wind_speed3pm            39328 non-null   float64
 29  windgustdir              96444 non-null   object
 30  windgustspeed            96497 non-null   float64
 31  winddir9am               95248 non-null   object
 32  winddir3pm               99425 non-null   object
 33  windspeed9am             101545 non-null  float64
 34  windspeed3pm             100235 non-null  float64
 35  wind_gustdir_complete    132863 non-null  object
 36  wind_gustspeed_complete  132923 non-null  float64
 37  raintoday_int            142193 non-null  int64
 38  raintomorrow_int         142193 non-null  int64
dtypes: datetime64[ns](1), float64(25), int64(3), object(10)
memory usage: 48.4+ MB