# Introduction

# Setup

## Import Libraries

In [1]:
# Import libraries
import numpy as np
import pandas as pd

# Import Datasets

In [2]:
data = pd.read_csv('data/rain_data_aus.csv')
wind1 = pd.read_csv('data/wind_table_01.csv')
wind2 = pd.read_csv('data/wind_table_02.csv')
wind3 = pd.read_csv('data/wind_table_03.csv')
wind4 = pd.read_csv('data/wind_table_04.csv')
wind5 = pd.read_csv('data/wind_table_05.csv')
wind6 = pd.read_csv('data/wind_table_06.csv')
wind7 = pd.read_csv('data/wind_table_07.csv')
wind8 = pd.read_csv('data/wind_table_08.csv')

In [3]:
wind1

,date,location,wind_gustdir,wind_gustspeed,wind_dir9am,wind_dir3pm,wind_speed9am,wind_speed3pm
0,2007-11-01,Canberra,NW,30.0,SW,NW,6.0,20.0
1,2007-11-02,Canberra,ENE,39.0,E,W,4.0,17.0
2,2007-11-03,Canberra,NW,85.0,N,NNE,6.0,6.0
3,2007-11-04,Canberra,NW,54.0,WNW,W,30.0,24.0
4,2007-11-05,Canberra,SSE,50.0,SSE,ESE,20.0,28.0
...,...,...,...,...,...,...,...,...
19995,2010-01-25,Newcastle,NaN,NaN,SE,SE,6.0,6.0
19996,2010-01-25,NorahHead,NE,37.0,SSW,NaN,11.0,NaN
19997,2010-01-25,NorfolkIsland,S,28.0,E,SSE,6.0,13.0
19998,2010-01-25,Richmond,ENE,33.0,NaN,E,NaN,11.0
19999,2010-01-25,Sydney,NaN,NaN,WNW,E,2.0,19.0

In [4]:
wind2

,date,location,wind_gustdir,wind_gustspeed,wind_dir9am,wind_dir3pm,wind_speed9am,wind_speed3pm
0,2010-01-25,SydneyAirport,E,31.0,ESE,E,7.0,22.0
1,2010-01-25,WaggaWagga,W,33.0,ENE,WSW,11.0,19.0
2,2010-01-25,Williamtown,E,39.0,SSW,ESE,11.0,22.0
3,2010-01-25,Wollongong,NE,20.0,SSW,NNE,4.0,7.0
4,2010-01-25,Canberra,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
19995,2011-05-14,Cobar,SW,35.0,SSW,S,15.0,13.0
19996,2011-05-14,CoffsHarbour,SW,33.0,WSW,SE,20.0,9.0
19997,2011-05-14,Moree,WSW,56.0,SW,SW,24.0,37.0
19998,2011-05-14,Newcastle,NaN,NaN,SW,SE,4.0,9.0
19999,2011-05-14,NorahHead,SW,39.0,WSW,SW,15.0,17.0

# Data Cleaning and Manipulation

# Baseline

# Exploratory Data Analysis

# Modelo